
.wrapper{
          position: fixed;
        top: 50%;
        left: 50%;
         transform: translate(-50%, -50%);
}
    .mention-loader {
       position: relative;
      width: 60px;
      height: 60px;
      border: 6px solid #f8f8f8;
      border-top: 6px solid #f56c2d; /* Magento Orange */
      border-radius: 50%;
      border-bottom:  6px solid #f56c2d;
      animation: spin 5s linear infinite;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
      padding: 25px;
    }

        .inner-mention-loader {
            width: 100%;
            height: 100%;
display: flex;
justify-content: center;
align-items: center;
      width: 40px;
      height: 40px;
      border: 6px solid #f8f8f8;
      border-top: 6px solid #f56c2d; /* Magento Orange */
      border-radius: 50%;
      border-bottom:  6px solid #f56c2d;
      animation: spin2 6s linear infinite;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    }

    @keyframes spin {
      0%   { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

        @keyframes spin2 {
      0%   { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }